<section id="one" class="wrapper spotlight style4">
  <div class="inner">
    <a href="#" class="image">
                                         <img src="./../assets/images/bg/kk.jpg" alt="" />
                                        </a>
    <div class="content">
      <h2 class="major">Evde bakım nedir?</h2>
    
      <p>Evde  bakım hizmetleri;tanı koymaktan ziyade tanı konmuş hastaların tedavisinin takibi, uygulanması   ve yetkin refakat ve bakım personeli ile hastalığın getirdiği ve getirebileceği olası riskler ve kısıtlılıklar düşünülerek, ilgili düzenlemelerin yapılmasıyla, eğitimli ve deneyimli sağlık ekibinin tıbbi süreçlere ek olarak; hastanın fizyolojik, psikolojik ve sosyolojik değerlerini gözeterek yaptığı planlamayla, en uygun maliyet hesabı dahilinde sunulan profesyonel bir sağlık hizmetidir..</p>
      
        <p> Gelişmiş ülkelerde yaşlı veya yatağa bağımlı hastaların tıbbi bakım ve rehabilitasyonlarının
        sağlık kuruluşları yerine kişinin evinde yapılması, hastanede yatış sürelerinin azaltılabilmesi amacıyla evde sağlık
        hizmetleri yaygın bir uygulama olarak ön plana çıkmıştır.</p>
      <div class="wrapper spotlight style2">
		  
	  </div>
    </div>
  </div>
</section>
