<section id="one" class="wrapper spotlight style4">
  <div class="inner">
    <a href="#" class="image">
                                         <img src="./../assets/images/bg/kk.jpg" alt="" />
                                        </a>
    <div class="content">
      <h2 class="major"> Hastanede ve Evde Planlı Hemşirelik Hizmeti</h2>
      <div class="wrapper spotlight style2">

        <div class="alert alert-success" role="alert">Hastanın ihtiyacları belirlenerek bakım planını oluştuLur</div>
        <div class="alert alert-info" role="alert">Bakım planı dogrultusunda aile ve hasta bilgilendirilir</div>
        <div class="alert alert-warning" role="alert">Bu plan doğrultusunda hizmet verilmeye başlanır</div>
        <div class="alert alert-danger" role="alert">Hedeflenen sonuçları gözlemleyerek bu sonuçları ekibin diğer üyelerine aktarıp geribildirimler ile bunu izler ve bu sonuçlar doğrultusunda hemşirelik bakımı standart hale getirilir.</div>

      </div>
    </div>
  </div>
</section>
