<section   class="wrapper spotlight style4">
  <div class="inner">
    <a href="#" class="image"><img src="./../assets/images/bg/hasta.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Hizmetlerimiz</h2>
      <p>Hasta ve hasta yakınlarının ihtiyaç duydukları tıbbi psikolojik ve fiziksel yardımın bulundukları her ortamda sunulması
        çözümlerin üretilmesi ve bunun karşılanmasıdır. Hasta, yaşlı ve yara bakımı gibi hizmetleri sizlere sunmaktayız.</p>
      <div class="wrapper spotlight style2">

        <div class="alert alert-success" role="alert">
          <li>Palyatif bakım desteği</li>
        </div>
        <div class="alert alert-info" role="alert">
          <li>Evde bakım hizmetleri</li>
        </div>
        <div class="alert alert-warning" role="alert">
          <li>Hastanede refakat hizmeti</li>
        </div>
        <div class="alert alert-danger" role="alert">
          <li>Dekübit ,cerrahi yaralar gibi pansuman ihtiyaçlarinin sağlanmasi</li>
        </div>
        <div class="alert alert-success" role="alert">
          <li>Sonda takma işlemi ve bakımı</li>
        </div>
        <div class="alert alert-info" role="alert">
          <li>Kolonostomi bakımı </li>
        </div>
        <div class="alert alert-warning" role="alert">
          <li>Bası ülseri ( Yatak yarası ) oluşmaması için önleyici uzman hemşire ziyareti, hasta/aile eğitimi </li>
        </div>
        <div class="alert alert-danger" role="alert">
          <li>Evde enjeksiyon uygulaması ( Reçetesi olan ev hastalarında planlanır ) </li>
        </div>
        <div class="alert alert-success" role="alert">
          <li>serum hazirlama ve uygulama ıv ilaç ugulamalari ( Reçetesi olan ev hastalarında planlanır )</li>
        </div>
        <div class="alert alert-info" role="alert">
          <li>Hasta ve yaşlılarımızın ihtiyaçları doğrultusunda her türlü bakım ve sağlık desteği verilmektedir</li>
        </div>

      </div>

    </div>
  </div>
</section>
