<section id="banner" class="major">
  <div class="inner">
        <div class="logo">
                                <img src="./../assets/images/logo1.png" alt="" />
                                </div>
    <header class="major">
      <h1>Samsun Evde Bakım</h1>
    </header>

    <div class="content">
     	<p>Deneyimli ve uzman kadromuzla hizmet vermekten mutluluk duyuyoruz</p>
      <ul class="actions">
        <li><a href="#one" class="button next scrolly">Devamı</a></li>
      </ul>
    </div>
  </div>
</section>