<section id="contact">
  <div class="inner">
    <section class="message">
      <form  [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="field half first">
          <label for="name">İsim</label>
          <input type="text" name="name" id="name"  placeholder="İsim" [formControl]="complexForm.controls['name']" required/>
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" placeholder="Email" [formControl]="complexForm.controls['email']" required />
        </div>
        <div class="field">
          <label for="message">Mesaj</label>
          <textarea name="message" id="message" rows="6" placeholder="Mesaj" [formControl]="complexForm.controls['message']" required>></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Mesajı Gönder" class="special" /></li>
          <li><input type="reset" value="Sil" /></li>
        </ul>
      </form>
    </section>
    <section class="info split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="#">samsunevdebakim@gmail.com</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-phone"></span>
          <h3>telefon</h3>
          <span>0532-6124755</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-home"></span>
          <h3>Adres</h3>
          <span>fevziçakmak mah.<br />
									 
										İlkadım- Samsun</span>
        </div>
      </section>
    </section>
  </div>
</section>