<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="./../assets/images/bg/ilgi.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Biz Kimiz</h2>
      <p>Alanında uzman ve deneyimli hemşire sağlık memuru ve sosyal destek uzmanı ekibimizle ihtiyacınız olan konularda size
        yardımcı olmayı hedefliyoruz
      </p>
      <p>Hemşirelik hizmetleri; lise, ön lisans ve lisans eğitimi almış kendi branşlarında deneyimli uzman hemşirelerimizce
        verilir.
      </p>

    </div>
  </div>
</section>
